.CompletedList {
	margin: auto;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.reverseButton {
	border-radius: 100%;
	border: none;
	margin-right: 8pt;
}

.todoItem {
	width: 100%;
	height: 38pt;
	background-color: #ffff;
	border-radius: 5pt;
	margin-top: 10pt;
	display: flex;
	align-items: center;
}