.todoList {
	text-align: center;
	border-radius: 5pt;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	direction: column;
	min-height: 85vh;
	font-family: courier, courier new, serif;
	font-size: 18px;
	color: lightgray;
}

.item {
	width: 100%
}