.StartNow {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100pt;
}

.startButton {
	border-radius: 5pt;
	border: none;
	width: 60pt;
	height: 20pt;
}