.Header {
	border-radius: 5pt;
	width: 90%;
	margin: auto;
}

.navigation {
	list-style-type: none;
	text-align: right;
	line-height: 20pt;
}

.navLink {
	text-decoration: none;
	color: #565656;
}

.navLink:hover {
	background-color: #E8E6E6;
	border-radius: 2pt;
}

.activeLink {
	text-decoration: underline solid #565656;
	color: #565656;
}

.activeLink:hover {
	background-color: #E8E6E6;
	border-radius: 2pt;
}

.icon {
	width: 28pt;
	vertical-align: middle;
}